﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background: #5c87b2;
    background-image: url("./backgorund2.png");
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

.page
{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

a:link
{
    color: white;
}
a:visited
{
    color: white;
}
a:hover
{
    color: yellow;
    text-decoration: none;
}
a:active
{
    color: yellow;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
}

#logindisplay a:visited
{
    color: white;
}

#logindisplay a:hover
{
    color: yellow;
}

