﻿@{
    ViewBag.Title = "Đăng ký phòng họp";
}
@using System.Web.Script.Serialization


<style>
    #footer {
        display: none;
    }

    #main {
        width: 100%;
        height: 593px;
    }
</style>

<script>
    //list of rooms
    var rooms = @Html.Raw(Model.Rooms);
    var colors = @Html.Raw(@Model.Colors);
    //returns room name by id
    function getRoom(id) {
        for (var i in rooms) {
            if (rooms[i].key == id)
                return rooms[i].label;
        }
        return "";
    }

    function attachRules(){
        //check is event belongs to the user and is it not started yet
        var isEditable = function(event_obj, type, event){

            //just for a demo purposes
            @if(!this.Request.IsAuthenticated)
            {
                <text>dhtmlx.message("Vui lòng đăng nhập trước !");</text>
            }

            if(!event_obj){
                var ev = event || window.event;
                var date = scheduler.getActionData(ev).date;//getting cursor position
                if(+date < +new Date()){
                    dhtmlx.message("Bạn không thể thêm hoặc sửa lịch đã đặt trước đó !");
                    return false;
                }
                return true;
            }

            if(typeof event_obj != 'object')
                event_obj = scheduler.getEvent(event_obj);
            if(! (event_obj && event_obj.start_date.getTime() > new Date().getTime())){
                dhtmlx.message("Bạn không thể thêm hoặc sửa lịch đã đặt trước đó !");
                return false;
            }else{
                return true;
            }
        };

        scheduler.attachEvent("onBeforeLightbox", isEditable);
        scheduler.attachEvent("onBeforeDrag", isEditable);
        scheduler.attachEvent("onBeforeEventChanged", isEditable);
        scheduler.attachEvent("onClick", isEditable);
        scheduler.attachEvent("onDblClick",isEditable);
        scheduler.attachEvent("onEventCreated", function(event_id){
            scheduler.config.limit_start = new Date();
        });
        scheduler.attachEvent("onEventLoading", function(event_object){
            if(event_object.user_id && colors[event_object.user_id]){
                if(event_object.start_date.getTime() < new Date().getTime()){
                    event_object.textColor = "black";
                }else{
                    event_object.textColor = colors[event_object.user_id];
                }
            }
            return true;
        });
        scheduler.config.limit_start = new Date();

        scheduler.templates.event_text = scheduler.templates.agenda_text = scheduler.templates.event_bar_text = function(start,end,ev){
            return getRoom(ev.room_id)+' : ' + ev.text;
        }
        scheduler.templates.week_agenda_event_text = function(start,end,ev){
            return scheduler.templates.event_date(ev.start_date) + ' ' +getRoom(ev.room_id)+' : ' + ev.text;
        }


        @if(this.Request.IsAuthenticated)
        {
            <text>
        //just for a demo purposes
        scheduler.attachEvent("onLimitViolation", function(){
            dhtmlx.message("Bạn không thể thêm hoặc sửa lịch đã đặt trước đó !");
        });
        </text>
        }else{
            <text>
        dhtmlx.message({text:"Vui lòng đăng nhập trước khi đăng ký phòng họp !", lifetime:15000});
        </text>
        }

    }

</script>
@* Vẽ lịch *@
@Html.Raw(Model.Scheduler.Render())