﻿@{
    ViewBag.Title = "Hướng dẫn sử dụng";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hướng dẫn sử dụng</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
</head>
<body>
   
</body>
</html>
