﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Công đoàn HCMUTE</title>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/Content/icon.png" />
    <style>
        .dhtmlx_message_area {
            background-color:red;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="pull-left" style=" padding-top: 4px;">
                <a href="/" class="btn btn-warning glyphicon glyphicon-home"></a>
            </div>
            <div class="pull-right" style="padding-top:2px;padding-bottom:2px;">
                @Html.Partial("_LogOnPartial")
            </div>
        </div>
    </div>
    <div class="container navbar navbar-fixed-bottom">
        <div class="row">
            <div class="pull-left" style="padding-top:10px;">
                <text style="color:white;">Copy right &copy; 2015 - Công đoàn trường Đại học Sư phạm Kỹ thuật Tp.HCM</text>
            </div>
            <div class="pull-right" style="padding-top:10px;">
                <script id="_wau9ff">
                    var _wau = _wau || []; _wau.push(["classic", "62cfc7tcfb1x", "9ff"]);
                    (function () {
                        var s = document.createElement("script"); s.async = true;
                        s.src = "http://widgets.amung.us/classic.js";
                        document.getElementsByTagName("head")[0].appendChild(s);
                    })();</script>
            </div>
        </div>
    </div>
    <div class="page">
        <div id="main">
            @RenderBody()

            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>