﻿<span>
    @if (Request.IsAuthenticated)
    {
        <text>
            <b style="color:white">
                Xin chào, @Context.User.Identity.Name
            </b>
        </text>
        @Html.ActionLink("Đăng xuất", "LogOff", "Account", "", new { @class = "btn btn-danger" })
        @Html.ActionLink("Đổi mật khẩu", "ChangePassword", "Account", "", new { @class = "btn btn-warning" })
    }
    else
    {
        @Html.ActionLink("Đăng nhập", "LogOn", "Account", "", new { @class = "btn btn-success" })
    }
    @Html.ActionLink("Hướng dẫn", "Tutorial", "Booking", new { @class = "btn btn-info" })
</span>
