﻿@{
    ViewBag.Title = "Đăng nhập";
}
@model RoomBookingCalendar.Models.LogOnModel

<link href="~/Content/bootstrap.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    <div class="row" style="padding-top:80px">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-danger">
                <div class="panel-heading text-center">
                    <strong>ĐĂNG NHẬP HỆ THỐNG</strong>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="container">
                            <div class="strong">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                <div class="form-group">
                                    <div class="editor-label">
                                        @Html.LabelFor(m => m.UserName)
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-envelope"></i>
                                        </span>
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Email của trường", @autofocus = "autofocus" })
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                        @*<input name="txtEmail" id="txtEmail" class="form-control" placeholder="Email ..." type="email" autofocus="">*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="editor-label">
                                        @Html.LabelFor(m => m.Password)
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-lock"></i>
                                        </span>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu", @type = "password" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="editor-label">
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                    <div class="input-group">
                                       @Html.CheckBoxFor(m => m.RememberMe)Ghi nhớ
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="btnAccept" value="Đăng nhập" id="login" class="btn btn-primary col-md-4">
                                    <a href="/" class="btn btn-danger pull-right col-md-4">Thoát</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
}